<form class="form" #templateForm="ngForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label>Name:
      <input required [(ngModel)]="person.name" name="name" #name="ngModel">
    </label>
    <div class="error" *ngIf="name.invalid && name.touched">
      Name is required.
    </div>
  </div>

  <div class="form-group">
    <label>Favorite Instrument:
      <select required name="favoriteInstrument" [(ngModel)]="person.favoriteInstrument">
        <option *ngFor="let instrument of instruments" [value]="instrument">{{instrument}}</option>
      </select>
    </label>
  </div>

  <button type="submit" [disabled]="templateForm.invalid">Submit</button>
</form>
