<div class="form">
  <h1>Template-Driven Form</h1>

  <form #templateForm="ngForm" (ngSubmit)="submitForm()">
    <div class="form-group" [class.error]="name.invalid && name.touched">
      <label>Name:
        <input required [(ngModel)]="person.name" name="name" #name="ngModel">
      </label>
      <div class="error" *ngIf="name.invalid && name.touched">
        Name is required.
      </div>
    </div>

    <div class="form-group" [class.error]="favoriteInstrument.invalid && favoriteInstrument.touched">
      <label>Favorite Instrument:
        <select required name="favoriteInstrument" [(ngModel)]="person.favoriteInstrument" #favoriteInstrument="ngModel">
          <option *ngFor="let instrument of instruments" [value]="instrument">{{instrument}}</option>
        </select>
      </label>
      <div class="error" *ngIf="favoriteInstrument.invalid && favoriteInstrument.touched">
        Favorite Instrument is required.
      </div>
    </div>

    <button type="submit" [disabled]="templateForm.invalid">Submit</button>
  </form>
</div>
