<form class="form" [formGroup]="personForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label>Name:
      <input formControlName="name">
    </label>
    <div class="error" *ngIf="name.invalid && name.touched">
      Name is required.
    </div>
  </div>

  <div class="form-group">
    <label>Favorite Instrument:
      <select formControlName="favoriteInstrument">
        <option *ngFor="let instrument of instruments" [value]="instrument">{{instrument}}</option>
      </select>
    </label>
  </div>

  <button type="submit" [disabled]="personForm.invalid">Submit</button>
</form>
