<div class="form">
  <h1>Reactive Form</h1>

  <form [formGroup]="personForm" (ngSubmit)="submitForm()">
    <div class="form-group" [class.error]="email.invalid && email.touched">
      <label>Email:
        <input formControlName="email">
      </label>
      <div class="error" *ngIf="email.invalid && email.touched">
        <div *ngIf="email.errors['required']">
          Must not be blank.
        </div>
        <div *ngIf="email.errors['email']">
          Invalid email address format
        </div>
      </div>
    </div>

    <div class="form-group" [class.error]="name.invalid && name.touched">
      <label>Name:
        <input formControlName="name">
      </label>
      <div class="error" *ngIf="name.invalid && name.touched">
        Must not be blank.
      </div>
    </div>

    <div class="form-group" [class.error]="favoriteInstrument.invalid && favoriteInstrument.touched">
      <label>Primary Instrument:
        <select formControlName="favoriteInstrument">
          <option *ngFor="let instrument of instruments" [value]="instrument">{{instrument}}</option>
        </select>
        <div class="error" *ngIf="favoriteInstrument.invalid && favoriteInstrument.touched">
          Must not be blank.
        </div>
      </label>
    </div>

    <button type="submit" [disabled]="personForm.invalid">Submit</button>
  </form>
</div>
